* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    border-radius: 0px;
}

#waybar {
    background: #16130b;
    color: #eae1d4;
    border: none;
}

#workspaces button {
    color: gray;
    background: transparent;
    padding: 5px;
}

#workspaces button.active {
    color: white;
    font-weight: bold;
    background: #1a361e;
}

#network {
    margin-right: 10px;
    margin-left: 15px
}
#custom-updates {
	background-color: transparent;
	font-size:20px;
	margin-right: 25px;
	margin-left:10px;
	color: #B16286;
}
#tray {
	font-size:21px;
	color: #eae1d4;
}

#custom-logo{
	color:#458588;
        background-color:  #16130b;
}

#custom-playerctl{
	color: #689D6A;
}
