* {
	font-family: "Liberation Mono Font", sans-serif;
	font-size: 19px;
	border-radius: 0px;
}

#waybar {
	background: #070603;
	color: #7c7d93;
	border: none;
}

#workspaces button {
	color: gray;
	background: transparent;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #7c7d93;
	background-color: #070603;
}

#workspaces button.active {
	color: white;

	background: #463528;
	color: #070603;
	font-weight: bold;
}

#network {
	margin-right: 10px;
	margin-left: 15px;
}

#custom-updates {
	background-color: transparent;
	font-size: 17px;
	margin-right: 3px;
	margin-left: 3px;
	color: #7c7d93;
	background-color: #070603;
}

#tray {
	font-size: 21px;
	color: #7c7d93;
	background-color: #070603;
}

#custom-logo {
	color: #458588;

	font-size: 25px;
	padding-right: 7px;
}

#custom-playerctl {
	color: #c4ad76;
	font-size: 17px;
	background-color: #070603;
}

#mpris {
	color: #7c7d93;
	background-color: #070603;
}

#clock {
	font-size: 17px;
	background-color: #070603;
}

#window {
	margin-left: 4px;
	color: white;
}

window#waybar {
	background: #16130b;
	color: #7c7d93;
}

#custom-dwm {
	background-color: #070603;

	color: #7c7d93;
	padding-left: 4px;
	padding-right: 4px;
}

#custom-weather {
	background-color: #070603;
}

#tray {
	background-color: #070603;
}

#custom-updates {
	background-color: #070603;
}

#temperature {
	background-color: #070603;
}

#custom-separator#dot-line {
	background-color: #070603;
}

#disk {
	background-color: #070603;
}

.modules-right {
	background-color: #070603;
}
